<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= easy_cdn 'css', test:'hash' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= easy_cdn 'js', test:'jshash' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
